<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Osipenko Alexey">
<meta name="description" content="">
<meta content='True' name='HandheldFriendly'>
<meta content='on' http-equiv='cleartype'>
<meta content='yes' name='apple-mobile-web-app-capable'>
<meta content='black-translucent' name='apple-mobile-web-app-status-bar-style'>
<meta content='width=device-width,initial-scale=1.0,maximum-scale=1.5,user-scalable=yes' name='viewport'>
<meta content='no' http-equiv='imagetoolbar'>
<meta content='en' http-equiv='Content-Language'>
<meta content='text/html;charset=UTF-8' http-equiv='content-type'>
<meta content='progid:DXImageTransform.Microsoft.Fade(Duration=0.2)' http-equiv='Page-Exit'>
<meta content='all' name='robots'>


<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
